/* Styles go here */

body{
    background-color: #fff;
}

.myGrid{
    border: none;
    height: 600px;
}

.ui-grid-filter-input,
.ui-grid-filter-select {
    font-family: 'Lato', sans-serif, 'FontAwesome' !important;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0px 2px !important;
    margin: 1px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out.15s, box-shadow ease-in-out .15s;
}

.ui-grid-top-panel {
    position: relative;
    overflow: hidden;
    font-weight: bold;
    background: #844e93;
    background-clip: padding-box;
    color: aliceblue;
    padding-bottom: 10px;
}

.ui-grid-header-cell{
    border: none !important;
}

.ui-grid-header {
	border-bottom: none;
}

/* || Rules for cells and rows ||*/

/*
.ui-grid-cell, .ui-grid-row {
    height: 50px !important;
}
*/

/*Removes border top right, after the last column header*/
.ui-grid-header-cell:last-child, .ui-grid-column-resizer.right{
    border: none !important;
}

/*Rules for the down arrow column header*/
.ui-grid-column-menu-button {
    margin-top: 15px !important;
}

.ui-grid-cell-contents{
    padding: 15px 10px;
    text-overflow: ellipsis !important;
}

.ui-grid-cell-contents input{
    margin-top: -5px;
}

/*actions column rules*/
.ui-grid-cell-actions a{
    margin: 4px 0px 4px 8px;
}

.ui-grid-cell-actions{
    height: 50px;
    padding: 10px 0px !important;
    box-sizing: border-box;
}

.ui-grid-cell-actions div{
    display: inline;
    box-sizing: border-box;
    height: 32px;
}

.ui-grid-cell{
    border-left: none !important;
    border-right: none !important; 
    border-bottom: 1px solid #ddd !important;
}

/*row background color rules*/
.ui-grid-row:nth-child(even) .ui-grid-cell, .ui-grid-row:nth-child(odd) .ui-grid-cell{
    background-color: #fff;
}

/*sounds table height is about 57px*/

/*actions rules */

.download::before,
.save-floppy::before {
    font-family: 'Lato', sans-serif, FontAwesome;
    color: inherit;
    font-size: 2em;
    text-align: center;
}

.download::before {
    content: "\f0ed";
}

.save-floppy::before {
    content: "\f0c7";
}

.delete::before {
    content: "\f014";
    color: inherit;
    font-family: 'Lato', sans-serif, FontAwesome;
    font-size: 2em;
    text-align: center;
}

.delete:hover::before, #delete:focus::before {
    content: "\f00d";
    font-family: 'Lato', sans-serif, FontAwesome;
    color: #000;
    font-size: 2em;
    text-align: center;
}

/*


External css test


.ui-grid-row {
	height: auto !important;
	overflow: hidden;
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
	background: #fff;
}

.ui-grid-row:nth-child(even) .ui-grid-cell {
	background: #fff;
}

.ui-grid-cell {
	border-right: none;
	border-bottom: 1px solid #f2f2f2;
	padding: 5px 0;
	height: auto !important;
}

.ui-grid-cell span {
	display: inline-block;
}

.ui-grid-cell-focus {
	background: none;
}

.ui-grid-clickable-row {
	color: inherit;
}

.ui-grid-clickable-row .ui-grid-cell {
	transition: all linear 100ms;
}

.ui-grid-clickable-row:hover .ui-grid-cell {
	background-color: rgba(0, 166, 255, 0.1) !important;
}

.ui-grid-cell-contents.custom-background {
	margin-top: -5px;
	padding-top: 10px;
	margin-bottom: -5px;
	padding-bottom: 10px;
}

.ui-grid-cell-contents:focus {
	background-color: transparent;
}

.ui-grid-top-panel-background {
	background: white;
}

.ui-grid-top-panel {
	position: relative;
	overflow: hidden;
	font-weight: bold;
	background: #FEFEFE;
	background-clip: padding-box;
}

.ui-grid-header {
	border-bottom: none;
}

.ui-grid-header-cell {
	position: relative;
	float: left;
	top: 0;
	bottom: 0;
	background-color: transparent;
	border-right: none;
	border-bottom: none;
	user-select: none;
	width: 0;
}

.ui-grid-filter-container {
	padding: 0;
	margin-top: -10px;
}

.ui-grid-filter-container:after {
	content: "\f040";
	position: absolute;
	color: #ccc;
	z-index: 1;
	right: 3px;
	font-family: FontAwesome;
	font-size: 0.6em;
	line-height: 3em;
	top: 0;
}

.ui-grid-filter-container:hover:after {
	color: #4497de;
}

input[type="text"].ui-grid-filter-input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px #f2f2f2;
	padding: 3px 6px;
	background: transparent;
	transition: all linear 200ms;
}

input[type="text"].ui-grid-filter-input:hover, input[type="text"].ui-grid-filter-input:focus {
	border: inherit;
	border-bottom: solid 1px #4497de;
}

.ui-grid-native-scrollbar {
	position: absolute;
	overflow: scroll;
	overflow-x: auto;
}

.ui-grid-native-scrollbar.vertical {
	top: 0;
	right: 0;
	height: 100%;
	overflow-x: hidden;
	width: 17px;
}

.ui-grid-native-scrollbar.horizontal {
	bottom: 0;
	left: 0;
	width: 100%;
	overflow-y: hidden;
	height: 17px;
}

.ui-grid-status {
	position: absolute;
	bottom: 34px;
	right: 0;
	padding: 2px 10px;
	background: #EDEDE3;
	border-top-left-radius: 4px;
	font-size: 1.2rem;
	text-align: right;
}

.ui-grid-pager-control button {
	height: 25px;
	min-width: 26px;
	background: #fff;
	border: none;
	line-height: 1em;
	cursor: pointer;
	padding-bottom: 12px;
}

.ui-grid-pager-control button[disabled] div {
	border-left-color: #ccc;
	border-right-color: #ccc;
}

.ui-grid-pager-control input {
	border: none;
	border-bottom: solid 2px #f2f2f2;
	padding: 2px 6px;
	margin: 0;
	transition: all linear 200ms;
}

.ui-grid-pager-control input:hover, .ui-grid-pager-control input:focus {
	border: inherit;
	border-bottom: solid 2px #4497de;
}

.ngClickableCell {
	color: #223e6e !important;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

.ngClickableCell:hover {
	background-color: rgba(0, 166, 255, 0.2) !important;
}

.ui-grid-viewport {
	overflow: auto !important;
}

.gridCenterHeader {
	text-align: center;
}

.ui-grid-focuser:focus {
	border-color: inherit;
	outline: 0;
	box-shadow: none;
}

.ui-grid-menu-button {
	border: none;
	background: initial;
	border-radius: 50%;
	padding: 2px 0 2px 4px;
	height: auto;
	transition: background .12s ease-out;
}

.ui-grid-menu-button:hover {
	background: rgba(89, 188, 255, 0.5);
	color: #fff;
}

.ui-grid-menu-button .ui-grid-icon-container {
	margin: 0;
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
	overflow: auto;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
	border: solid 1px #b7b7b7;
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-inner {
	border: none;
	background: #fff;
	box-shadow: none;
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-inner ul li {
	padding: 0;
	margin: 0;
	display: block;
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-inner ul li button {
	transition: background .12s ease-out,border .12s ease-out,color .12s ease-out,opacity .12s ease-out;
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-inner ul li button:hover, .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-inner ul li button:focus {
	box-shadow: none;
	background: #eff5fc;
}*/
