/* Styles go here */
.ui-grid-filter-input,
.ui-grid-filter-select {
    font-family: 'Lato', sans-serif, 'FontAwesome' !important;
    display: block;
    width: 100%;
    height: 32px;
    padding: 0px 2px !important;
    margin: 1px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 5px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out.15s, box-shadow ease-in-out .15s;
}

.download::before,
.save-floppy::before {
    font-family: 'Lato', sans-serif, FontAwesome;
    color: inherit;
    font-size: 2em;
    text-align: center;
}

.download::before {
    content: "\f0ed";
}

.save-floppy::before {
    content: "\f0c7";
}

.ui-grid a{
    margin-left: 8px;
}

.ui-grid-cell, .ui-grid-row {
    height: 40px !important;
    padding: px;
}

.ui-grid-cell {
    padding: 5px 1px;
}

/*sounds table height is about 57px*/